.git
.github
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
*.log
*.md
!README.md
k8s
scripts
envs
docker-compose.yml
Makefile
.pre-commit-config.yaml
.env*
